@theme {
  --*: initial;
  --color-base: var(--color-base);
  --color-base-content: var(--color-base-content);
  --color-primary: var(--color-primary);
  --color-primary-content: var(--color-primary-content);
  --color-secondary: var(--color-secondary);
  --color-secondary-content: var(--color-secondary-content);
  --color-accent: var(--color-accent);
  --color-accent-content: var(--color-accent-content);
  --color-neutral: var(--color-neutral);
  --color-neutral-content: var(--color-neutral-content);
  --color-info: var(--color-info);
  --color-info-content: var(--color-info-content);
  --color-success: var(--color-success);
  --color-success-content: var(--color-success-content);
  --color-warning: var(--color-warning);
  --color-warning-content: var(--color-warning-content);
  --color-error: var(--color-error);
  --color-error-content: var(--color-error-content);
}
